{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookso</title>
    <link href="#" rel="stylesheet" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .asteriskField {
            display: none;
        }
    </style>
</head>
<body>
    <div class="w-4/5 mx-auto">
        {% include 'navbar.html' %}
        {% if messages %}
            {% for message in messages %}
            <div
                class="bg-green-50 border-b border-green-400 text-green-800 text-sm p-4 flex justify-between">
                <div>
                <div class="flex items-center">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4 mr-2"
                    viewBox="0 0 20 20"
                    fill="currentColor">
                    <path
                        fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                        clip-rule="evenodd"
                    />
                    </svg>
                    <p>
                    <span class="font-bold">Info:  </span>
                    {{ message }}
                    </p>
                </div>
                </div>
            </div>
                
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
        {% include 'footer.html' %}
    </div>
</body>
</html>