{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookso</title>
    <link href="#" rel="stylesheet" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .asteriskField {
            display: none;
        }
    </style>
</head>
<body>
    <div class="w-4/5 mx-auto">
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock content %}
        {% include 'footer.html' %}
    </div>
</body>
</html>