{% extends 'base.html' %}
{% block content %}

{% comment %} <ol>
    {% for book in books %}
    <li>{{book.title}}</li>
    {% endfor %}
</ol> {% endcomment %}

<div class="flex">
    <div>
        {% include 'sidebar.html' %}
    </div>
    <ul class="bg-white shadow overflow-hidden w-full sm:rounded-md w-5/6 mx-auto mt-4">
        
    
        <li>
            <div class="px-4 py-5 sm:px-6">
                <div class="flex items-center justify-between">
                    <h3 class="text-lg leading-6  text-green-900">Twoje projekty</h3>
                </div>
            </div>
        </li>
        {% if books.count == 0 %}
        <li>
            <div class="px-2 py-5 sm:px-6 border-b-2">
                <div class="flex items-center justify-between">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">Stwórz pierwszy projekt!</h3>
                </div>
                <div class="mt-4 flex items-center justify-between">
                    <div>
               
                        
                        <a type="button" href="{% url 'book-create'%}" class="focus:bg-green-700 text-white text-sm py-2.5 px-4 border-b-4 border-green-600 bg-green-500 hover:bg-green-400 inline-flex">Stwórz</a>


                    </div>
                    
                </div>
            </div>
        </li>
        {% endif %}
        {% for book in books %}
        <li>
            <div class="px-2 py-5 sm:px-6 border-b-2">
                <div class="flex items-center justify-between">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">{{book.title}}</h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">coś tu bedzie chyba hehe</p>
                </div>
                <div class="mt-4 flex items-center justify-between">
                    <p class="text-sm font-medium text-gray-500">Status:{% if book.pdf %} <span class="text-blue-600">Ebook{% else %}<span class="text-green-600"> Projekt{% endif %}</span></p>
                    <div>
                        {% if book.pdf %}
                        <a  href="{% url 'download-pdf' book.pk %}" class="focus:bg-indigo-700 text-white text-sm py-2.5 px-4 border-b-4 border-indigo-600 bg-indigo-500 hover:bg-indigo-400 inline-flex">
                            <span class='pr-2'>PDF</span>
                            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>

                        </a>                        
                        {% endif %}
                        <a type="button" href="{% url 'book-detail' pk=book.pk %}" class="focus:bg-green-700 text-white text-sm py-2.5 px-4 border-b-4 border-green-600 bg-green-500 hover:bg-green-400 inline-flex">Szczegóły</a>
                        <a type="button" href="{% url 'book-delete' pk=book.pk %}" class="focus:bg-red-700 text-white text-sm py-2.5 px-4 border-b-4 border-red-600 bg-red-500 hover:bg-red-400 inline-flex">usuń</a>

                    </div>
                    
                </div>
            </div>
        </li>
        
        {% endfor %}
        {% if page_obj.has_other_pages %}
        <nav class="flex justify-center items-center mt-8 pb-4">
            <ul class="flex items-center -space-x-px">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}" class="block px-3 py-2 ml-0 leading-tight text-green-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-green-700">
                            <span class="sr-only">Previous</span>
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li>
                            <a href="#" aria-current="page" class="z-10 px-3 py-2 leading-tight text-green-600 border border-green-300 bg-green-50 hover:bg-green-100 hover:text-green-700">{{ num }}</a>
                        </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li>
                            <a href="?page={{ num }}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" class="block px-3 py-2 leading-tight text-green-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-green-700">
                            <span class="sr-only">Next</span>
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </ul>
    
</div>
{% endblock content %}

